.articles {
	min-height: 40vh;
	width: 100%;
	background-color: #fcfcfc;
	padding: 5rem 6rem;
	> a {
		color: black;
	}
	> h2 {
		margin: 1.4rem 0;
		font-size: 5.5rem;
	}
	> section {
		margin: 4rem 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 3rem;
		width: 100%;
	}
	> article {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-top: 1rem;
		gap: 3rem;
		width: 80%;
		margin: 0 auto;
		> div {
			border-radius: 5px;
			background-color: #6d696a;
			padding: 2rem;
			cursor: pointer;
			transition: all 0.6s;
			> svg {
				font-size: 4rem;
			}
			&:hover {
				background-color: var(--servicesbg);
			}
		}
	}
}

.cta {
	background-color: var(--servicesbg);
	/* background-color: #527b9f; */
	height: 80%;
	border-radius: 7px;
	width: 26%;
	> img {
		width: 100%;
		height: auto;
	}
	> div {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		> h3 {
			text-align: center;
			text-wrap: balance;
			margin: 2rem 0;
			padding: 0;
			color: #fcfcfc;
		}
		> button{
			margin-bottom: 4rem;
		}
	}
}
