@font-face {
	font-family: 'Gilroy';
	src: url('https://cdn.jsdelivr.net/gh/repalash/gilroy-free-webfont@fonts/Gilroy-Light.eot');
	src: local('Gilroy Light'), local('Gilroy-Light'),
	url('https://cdn.jsdelivr.net/gh/repalash/gilroy-free-webfont@fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
	url('https://cdn.jsdelivr.net/gh/repalash/gilroy-free-webfont@fonts/Gilroy-Light.woff') format('woff'),
	url('https://cdn.jsdelivr.net/gh/repalash/gilroy-free-webfont@fonts/Gilroy-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Gilroy;
}

html {
	height: 100%;
	width: 100%;
	font-size: 52.5%;
}

body {
	height: 100%;
	width: 100%;
}
:root {
	--secondary: #06d6a0;
	--primary: #3a6a95;
	--servicesbg: #6d9dc8;
	--anchor: #3a6a95;
}

#root {
	height: 100%;
	width: 100%;
}

h1 {
	text-align: center;
	font-size: 6rem;
}
h2 {
	text-align: center;
	font-size: 4rem;
}

p {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 400;
}

a {
	text-decoration: none;
	display: block;
	text-align: center;
	font-size: 2.3rem;
	/* color: var(--anchor); */
	color: black;
	font-weight: 500;
	/* font-weight: 400; */
}

a:focus,
a:visited,
a:hover {
	text-decoration: none;
}
