.services {
	min-height: 40vh;
	position: relative;
	width: 100%;
	background-color: var(--servicesbg);
	padding: 5rem 6rem;
	> h2 {
		margin: 1.4rem 0;
		font-size: 5.5rem;
	}
	> p {
		font-size: 1.7rem;
		line-height: 1.3;
		font-weight: 500;
		text-wrap: balance;
	}
	> button {
		padding: 1.2rem 2.6rem;
		background-color: var(--secondary);
		margin: 2.3rem auto;
		display: block;
		border: none;
		outline: none;
		border-radius: 5px;
		color: white;
		font-size: 2rem;
	}
	> div {
		min-height: 50%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 2rem 1rem;
		> img {
			width: 40%;
			/* height: auto; */
			/* height: 10%; */
			object-fit: cover;
		}
		> div {
			height: 40%;
			width: 38%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			row-gap: 3rem;
			/* background-color: red; */
		}
	}
	> img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 18%;
	}
}

.box {
	cursor: pointer;
	> svg {
		font-size: 3rem;
		color: white;
		margin-left: auto;
	}
	display: flex;
	align-items: center;
	width: 100%;
	padding: 1.2rem 0;
	gap: 2rem;
	border-bottom: 1px solid white;
	> div {
		&:first-child {
			padding: 2rem;
			display: flex;
			border: 1px solid white;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			> svg {
				font-size: 3rem;
				color: var(--primary);
			}
		}
		&:nth-child(2) {
			> h3 {
				font-size: 3rem;
			}
			> p {
				font-size: 1.7rem;
				font-weight: 400;
			}
		}
	}
}
